.background{
  background-image: url(../index/banner.webp)
}

.content{
	overflow: auto;
  height: auto !important;
}



.textcont{
  float:left;
	width: 60%;
	text-align: center;
	padding: 0 auto;
	display: inline-block;
}

.pfpbox{
	width: 100%;
	height: auto;
	margin: 20px 0px;
}

.pfp{
	width: 302px;
	height: 302px;
	background-image: url(../about/me.webp);
	margin: 0px auto;
  border: 0px white solid;
	border-radius: 302px;
	background-size: cover;
  background-position: center center;
	transition: 1s;
}

.pfp:hover{
	animation: rotation 1s ease-out ;
}

.infotable{
	width: 100%;
	height: auto;
}

.infotr{
	width: 100%;
	height: auto;
	margin: 10px 0px;
	font-family: 'M PLUS Rounded 1c';
}

.infotdcat{
	width: 50%;
	height: auto;
	padding: 5px 15px;
	text-align: right;
	font-size: 42px;
	vertical-align: middle;
}


.infotdval{
	width: 50%;
	height: auto;
	padding: 5px 15px;
	text-align: left;

	font-size: 32px;
	font-weight: light ;
	vertical-align: middle;
}

/* MUSIC BOX AND MISC THINGS */

.misccont{
  float:right;
  width: 30%;
	height: 100%;
	padding: 25px;
	max-width: 40%;

	border-left: 3px white solid;
}

.musicbox{
  width:100%;
	
	background-color: rgba(0,0,0,0.8);
  border: black solid 0px;
  border-radius: 15px;
	color: rgba(256,256,256,0.8);
	font-family: Helvetica, Arial;
	font-size: 5vmin;
	border-radius: 10px;
	width: 100%;
	height: auto;
	text-align: left;
	padding: 10px;
	
	transition: 1s;
	opacity: 0;
}

.mloaded{
	opacity:1;
}

.playerlogo{
	font-size: 10px;
	font-weight: lighter;
	cursor: pointer;
	padding: 5px;
	vertical-align: middle;
	margin:auto;
	display: inline-block;
}

.playerlogo img{
	height: 25px;
	width: auto;
}



.coverimgtd{
	text-align: center;
}
.coverimg{
	border: rgba(0,0,0,0) 1px solid;
	border-radius: 15px;
	margin-top: 20px;
}

.songinfocont{
	font-size:4vh;
	margin: 0px 20px;
	margin-bottom: 10px;
}
.songinfostatus{
	font-size:4vh;
	margin-bottom: 10px;
}

.songinfosong{
	font-weight: bold;
	font-size:5vh;
}

.songunder{
	font-weight: lighter;
	margin: 20px 0px;
	font-size:16px;
	cursor: pointer;
}

.left{
	text-align:left;
	float:left;
}

.right{
	text-align:right;
	float:right;
}

.songinfoartist{
	font-weight: lighter;
	margin-bottom: 10px;
	display: inline-block;
}

.songinfosong:hover, .songinfoartist:hover{
	cursor: pointer;
	color: #d3b3ff;
}


.songinfoplayerprogressback{
	border: 0.10em solid #333; 
	height: 1em; 
	border-radius: 15px; 
}

.songinfoplayerprogress{
	border: 0.1em solid #60e; 
	border-radius: 12px; 
	transition: width 2s;
	z-index:-1;
	background-color: #60e;
	height: 0.9em;
	transition: width 2s;

	max-width: 97%;

}

.songinfoplayertime{
	margin-top:5px;
	text-align: center;
}

.osbox{
	width: 100%;
	height: auto;
	margin: 20px 0px;
	margin-top: 40px;
}

.os{
	width: 302px;
	height: 332px;
	background-image: url(../about/eos.svg);
	margin: 10px auto;
	background-size: cover;
  background-position: center center;
	transition: 1s;
}

.ostext{
	width: 100%;
	padding: 5px auto;
	transition: 1s;
	text-align: center;
	font-family: 'M PLUS Rounded 1c';
	font-size:20px
}


/* dynamic things */

@media screen and (max-width: 1400px) {

  .misccont,.textcont{
  	float:none;
		max-width: 100%;
		width: 100%;
		padding: 0px;
		border: none;
		padding-top: 20px;
	}

	.songinfocont{
		font-size:10vw;
	}
	.songinfostatus{
		font-size:5vw;
	}
	.songinfoartist{
		font-size:5vw;
	}

	
}

@media screen and (max-width: 600px) {

	.infotdval{
		font-size: 5.333vw;
	}
	
  .infotdcat{
		font-size: 7vw;
	}
	
}