@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100&family=Montserrat:wght@100&family=Source+Sans+Pro:wght@200;400;700&family=Darumadrop+One&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

*{
  margin: 0px;
  padding: 0px;
	transition: 0.5s;
}

html{background-color: black;scroll-behavior: smooth !important;}

.viewport{
  background-color: #111;
  color: #fff;
  font-size: 16px;
  font-family: "Source sans pro";
  height: 100vh;
  width: 100vw;
  animation: 1s ease-out 0s 1 fadein;

	
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}


.background{
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center ;
  transition: 0.5s;
}

.titlecont{
  position:absolute;
  top: 20vh;
  width: 100%;
  animation: 5s ease-out 0s 1 fadein;

  display: flex;
  justify-content: center;
}

.title{
  text-align: right;
  font-size: 4.5vh;
  margin: 0px auto;
  width: auto;
  padding-right: 10px;
  border-right: 5px solid white;
  border-radius:5px;
  overflow: visible;
  white-space: nowrap;
  display: inline-block;
  opacity: 0.95;
  
}

.contentcont{
  position:absolute;
  top: 50vh;
  width: 100%;
}

.content{
  width: 90%;
  min-height: 10%;
  margin: auto;

  border: 2px solid rgba(10,10,10,0);
  border-radius: 20px;
  background-color: rgba(10,10,10,0.75);

  padding: 15px ;
  font-family: arial;
  text-align: justify;

	margin-bottom: 50px;
}

.content h2{
  
  text-align: center;
  font-weight:bold;
  font-size:3vh;
  padding: 10px
}

.footercont{
	margin-top: 20px;
	width: 100%;
	position: absolute;
  bottom: 0;
}

.footer{
	width: 90%;
  margin: 0px auto;
	background-color: rgba(0,0,0, 0.8);
	padding:5px 20px;
	border: 0px black solid;
	border-radius: 20px 20px 0px 0px;
	overflow: hidden;
}

.footleft{
	float: left;
}

.footright{
	float: right;
}

.clickable{
	cursor: pointer;
	text-decoration: none;
	transition: 1s;
	color: #d3b3ff;
}

.clickable:hover{
	color: #ac6fff;
}

.nonclickable{
	text-decoration: none;
	color: #fff;
}
  
.sub{
	text-align: center;
	font-size: 20px;
	display: block;
}

.explain{
	text-align: center;
	font-size: 24px;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media screen and (max-width: 700px) {

  .footleft, .footright{
	float: none;
	margin: 5px auto;
	display: table;
}
