.background{
  background-image: url(../index/banner.webp)
}

.projectlistcont{
	width: 100%;
}

.projectlist{
	background-color: rgba(0,0,0,0.6);
	border-radius: 15px;
	margin: 0 auto;
	padding: 10px;

	border-spacing: 20px;
}

.project{
	background-color: rgba(0,0,0,0.6);
	border-radius: 15px;

	padding:20px;

	text-align: center;
	font-size: 32px;
	font-weight: bold;
}

.project:hover{
	cursor: pointer;
	background-color: rgba(25,25,25,0.65);
}

.project img{
	width: 200px;
	border-radius: 15px;
}