.background{
  background-image: url(../index/banner.webp)
}


.toollistcont{
	padding: 25px 0px;
	width: 100%;

	
}

.toollist{
	width: 90%;
	margin: 0 auto;
	height: 1000px;
	border: black 0px solid;
	border-radius: 15px;
	background-color: rgba(0,0,0,0.65);

}

.tools{
	list-style-type: none;
	padding: 10px;
	height: 1000px;
}

.tool{
	margin: 20px auto;
	padding: 20px;

	width: 90%;
	height: 400px;
	background-color: rgba(0,0,0,0.65);
	border: black 0px solid;
	border-radius: 15px;

	text-align: center;
}

.tool:hover{
	background-color: rgba(25,25,25,0.65);
	cursor: pointer;
}

.tooldiv{
	font-size:22px;
}

.tooldiv h3{
	font-size:32px;
	padding: 20px;
}

.tooldivcont{
	font-size: 32px;
	margin: 0 auto;
}

.tooldivcont img{
	height:200px;
	border-radius:15px;
}


.footercont {
	position:relative;
}